.Styles
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    font-size: large;
}
.Start
{
    text-align: center;
}
h1 { 
    color:black;
     font-family: 'Raleway',sans-serif; 
     font-size: 62px;
      font-weight: 800;
       line-height: 72px; 
       margin: 0 0 24px;
        text-align: center;
         text-transform: uppercase;
}
button {
    border: none;
    margin: 2px;
    padding: 100px;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  }
  .flexbox
  {
    justify-content:center;
  }
